.HomePagePageination{
    margin-bottom: 10px;
        .horizontal-list{
            list-style: none;
            display: flex; 
        }

        .page-num, .pre, .next{
            font-size: 1.5rem;
            margin-left: 10px;
            border-radius: 5px;
            border: 1px solid #7D8491;
            color: white;     
            cursor:pointer;
            
        }
        .page-num:hover, .pre:hover, .next:hover{
            background-color: #6B0F1A;
        }
}