.MovieExtenalAPI{
    background-color: black;
    display: inline-block;
    width: 90%;
    .img{
        display:block;
        width: 80%;
    }
    .card-content{
        text-align: left;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .title{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
        
    }

    .date{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        color: #ffbe0b;

    }
    .overview{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
}