.MyRatedMovieCard {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #000000;

    .movie-title{
        font-size: 1.2rem;
        margin: 10px auto;
    }
    .movie-genre{
        font-size: 0.8rem;
    }
    .movie-rating {
        margin: 10px auto;
        font-size: 0.8rem;
        color: #ffbe0b;
    }
    .movie-photo {
        & > p {
            margin-bottom: 20px;
        }
        .img{
            height: 300px;
        }      
    }
}