.StarRating {
    .star {
        cursor: pointer;
        transition: color 200ms;
    }
    .rate-before {
        color: yellow;
    }
    .rate-after {
        color: grey;
    }
    input[type="radio"] {
        display: none;
    }
    .btn{
        margin-top: 10px;
    }
}